// FONTS
$body__font: "Lato", sans-serif;
$form__font: 'Inconsolata', monospace;
$heading__font: $body__font;

// COLORS
$black: #1D1D26;
$white: #FDFDFD;

$canvas: #F9F9FA;
$content: #666666;

$primary__green: #5fcf80;
$primary__blue: #0000b2;
$secondary__yellow: lighten(#FFFFA5,7%);

* {
  box-sizing: border-box;
  outline: none;
  border:0;
  margin:0;
  padding:0;
  &:focus {
    outline:0;
  }
}
html {
  font-size: 90%;
  @media screen and (min-width: 768px) {
    font-size: 100%;
  }  
  @media screen and (min-width: 960px) {
    font-size: 115%;
  }
  @media screen and(min-width: 1680px) {
    font-size: 130%;
  }
}
body {
  position: relative;
  line-height: 1.40;
  letter-spacing: 0.03em;
  font-family: $body__font;
  background-color: $canvas;
  background-color: darken($canvas, 4%);
  color:$content;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}
a {
  text-decoration:none;
  color: $content;
  font-weight: 400;
  &:hover {
    text-decoration: none;
  }
}

.app-root {
  text-align:center;
  width: 100%;
  display:block;
  padding-top: 4em;
}

.noteapp {
  position: relative;
  .noteapp__header {
    position: fixed;
    left: 0;
    top:0;
    z-index: 99;
  }
  .noteapp__main {
    position: relative;
  }
  .noteapp__footer {
    position: relative;
  }
  .noteapp__overlay {
    position: fixed;
    left:0;
    top: 0;
  }
  .noteapp__deletemodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
  }
}

.main {
  padding: 0;
  .main__editor {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    padding-bottom: 4em;
    align-items: flex-start;
    justify-content: space-between;
    background-color: darken($canvas,8%);
  }
  .main__editor-form {
    position: relative;
    flex: 0 1 48%;
  }
  .main__editor-form-title {
    text-align:left;
    font-size: 1.4em;
    margin-bottom: 0.6em;
  }
  .main__editor-preview {
    position: relative;
    flex: 0 1 48%;
  }
  .main__editor-preview-title {
    @extend .main__editor-form-title;
  }
  .main__note-list {
    position: relative;
    width: 100%;
  }
}

.header {
  text-align:center;
  background-color: $primary__green;
  width: 100%;
  height: 4em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
  .header__title {
    color: $white;
    flex: 0 1 auto;
    text-transform: uppercase;
  }
  .header__logo {
    flex: 0 1 auto;
    height: 1.5em;
    width: 7.5em;
    margin-top: 0.2em;
  }
  .header__logo-img {
    display: block;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
  overflow: hidden;
  border-radius: 3px;
  padding: 1em;
  text-align:left;
  .form__control, .form__submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    font-size: 1em;
  }
  .form__control {
    width: 100%;
    padding: 0.8em 0.5em;
    resize: none;
    font-size: 1.1em;
    font-family: $form__font;
  }
  .form__submit {
    text-transform: uppercase;
    color: $white;
    background-color: $primary__green;
    cursor: pointer;
    padding: 0.5em 0.8em;
    border-radius: 3px;
    font-weight: 700;
    transition: .2s ease-in-out;
    float: right;
    margin-top: 1em;
    &:hover {
      background-color: darken($primary__green,5%);
    }
    &[disabled] {
      color: lighten($content, 20%);
      cursor: auto;
      background-color: darken($canvas,3%);
      &:hover {
        background-color: darken($canvas,3%);
      }
    }
  }
  input {
    font-weight: 600;
    border-bottom: 2px solid darken($canvas, 1%) !important;
  }
  textarea {
    width: 100%;
    height: 10em;
  }
}

.preview {
  @extend .form;
  background-color: $secondary__yellow;
  // background-color: $white;
  .preview__title {
    padding: 0.5em;
    min-height: 2.5em;
    border-bottom: 2px solid rgba($black, 0.05);
  }
  .preview__content {
    padding: 0.5em;
    min-height: 2.5em;
    p, ul, ol, blockquote, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.5em;
    }
    ul,ol {
      padding-left: 2em;
    }
    blockquote {
      margin-left: 1em;
      padding-left: 1em;
      border-left: 2px solid rgba($black, 0.2);
    }
  }
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  // margin-bottom: 2em;
  padding: 2em;
  margin-left: -1em;
  min-width: calc(100% + 2em);
  .note-list__item {
    padding: 1em;
    flex: 0 1 33.33%;
  }
}

.item {
  @extend .preview;
  display: block;
  transition: .2s ease-in-out;
  overflow:hidden;
  .item__title {
    @extend .preview__title;
  }
  .item__content {
    @extend .preview__content;
  }
  .item__footer {
    position: relative;
    transition: .2s ease-in-out;
    opacity: 0;
    transform: translateY(100%);
    text-align: right;
  }
  .item__footer-destroy, .item__footer-edit {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: .2s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .item__footer-destroy {
    background-image: url('../img/delete.svg');
  }
  .item__footer-edit {
    background-image: url('../img/edit.svg');
  }
  &:hover {
    box-shadow: 0 2px 15px rgba(0,0,0,0.30);
    .item__footer {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.footer {
  padding: 2em 1em;
  background-color: $white;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba($black, 0.5);
  display: none;
  &.active {
    display: block;
  }
}

.deletemodal {
  background-color: $white;
  padding: 2em;
  border-radius: 3px;
  box-shadow: 0 2px 2em rgba(0,0,0,0.30);
  display: none;
  &.active {
    display: block;
  }
  .deletemodal__title {
    margin-bottom: 0.5em;
  }
  .deletemodal__button-remove, .deletemodal__button-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 0;
    font-size: 1em;
    padding: 0.5em 0.8em;
    border-radius: 3px;
    margin-left: 0.5em;
    margin-top: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s ease-in-out;
    color: $white;
    cursor: pointer;
  }
  .deletemodal__button-remove {
    background-color: #ff5252;
    &:hover {
      background-color: darken(#ff5252, 5%);
    }
  }
}