.noteapp {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  text-align:center;
  display:block;
  padding-top: 4em;
  .noteapp__header {
    position: fixed;
    left: 0;
    top:0;
    z-index: 99;
  }
  .noteapp__main {
    position: relative;
  }
  .noteapp__footer {
    position: relative;
  }
  .noteapp__overlay {
    position: fixed;
    left:0;
    top: 0;
  }
  .noteapp__deletemodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
  }
}