.item {
  @extend .preview;
  display: block;
  transition: .2s ease-in-out;
  overflow:hidden;
  position: relative;
  > div {
    width:100%;
    height: 100%;
    position: relative;
  }
  .item__title {
    @extend .preview__title;
  }
  .item__content {
    @extend .preview__content;
    padding-bottom: 2em;
  }
  .item__footer {
    position: absolute;
    left: 0;
    width:100%;
    bottom: 0;
    transition: .2s ease-in-out;
    opacity: 0;
    transform: translateY(100%);
    text-align: right;
  }
  .item__footer-destroy, .item__footer-edit {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: .2s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .item__footer-destroy {
    background-image: url('../assets/img/delete.svg');
  }
  .item__footer-edit {
    background-image: url('../assets/img/edit.svg');
  }
  &:hover {
    box-shadow: 0 2px 15px rgba(0,0,0,0.30);
    .item__footer {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.item--editmode {
  @extend .item;
  transition:.2s ease-in-out;
  z-index: 101;
  box-shadow: 0 2px 15px rgba(0,0,0,0.30);
}